body {
    background-color: #082451;
}

.text{
    color: white;
    margin-left: 45px;
    font-weight: bold;
}

.button {
    margin-left: 45px;
    position: relative;
    right: 80%;
}

.container .btn{
    left: 50%;
}